canvas {
	border: 5px solid #ffffff;
	position: absolute;
	left: 0px;
	top: 0px;
}

#diceName {
	font-size:50px;
	font-weight: bold;
}

#diceControl {
	cursor: pointer;
}

#games4you {
	font-size: large;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
}